._error {
	box-shadow: 0px 0px 10px #c13939;
}
.form__error {
	order: 4;
	display: none;
	padding-top: 10px;
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 17px;
	color: #c13939;
	text-align: center;
}
