.header {
	z-index: 100;
	position: absolute;
	width: 100%;
	transition: all 0.3s ease 0s;
	&.sticky {
		position: fixed;
		transform: translateY(-30px);
		@media (max-width: $md2 + px) {
			transform: translateY(-15px);
		}
		@media (max-width: $md3 + px) {
			transform: none;
		}
	}
}
